/target
docker-compose.yml
Dockerfile
.dockerignore
.gitignore
README.md
HELP.md
Gerenciador-FIAP.json
img-doc-swagger.png
LICENSE
mvnw
mvnw.cmd
### VS Code ###
.vscode/

### Docker ###
data/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr